<div *ngIf="log.getCoinsDataAPI">getCoinsDataAPI...</div>
<div *ngIf="log.postCoinsDataDB">postCoinsDataDB...</div>
<div *ngIf="log.getCoinsDataDB">getCoinsDataDB...</div>
<div *ngIf="log.deleteData">deleteData...</div>

<button (click)="getCoinsData()">get Coins</button>
<button (click)="clearAllData()">clear all data</button>

<div>_id: {{ lastUpdatedCoinsDataId }}</div>
<table width="100%">
  <tr>
    <th align="left">#</th>
    <th align="left">Name</th>
  </tr>
  <tr *ngFor="let item of lastUpdatedCoinsData; let i = index">
    <td>{{ i + 1 }}</td>
    <td>{{ item.name }}</td>
  </tr>
</table>
